<div class="container">

    <h1>🤖 Ask Angular AI</h1>

    <div class="search-box">
        <input [(ngModel)]="question" placeholder="Ask any Angular question..." (keyup.enter)="search()">

        <button (click)="search()">Ask AI</button>

        <div class="status" *ngIf="apiStatus.length">
            {{apiStatus}}
        </div>
    </div>

    <!-- VIDEO CARD -->

    <div *ngIf="video" class="video-card">

        <h2>{{video.title}}</h2>

        <iframe width="100%" height="400" [src]="video.url | safe" frameborder="0" allowfullscreen>

        </iframe>

    </div>

    <!-- TRANSCRIPT -->

    <div *ngIf="transcript?.snippets?.length" class="transcript">

        <h3>📜 Video Transcript</h3>

        <!-- <div class="snippet" *ngFor="let t of transcript?.snippets">

            <span class="time">
                {{t.start | number:'1.0-0'}}s
            </span>

            <span class="text">
                <b>{{t.start | number:'1.0-0'}} sec :</b> {{t.text}}
            </span>

        </div> -->
        <div class="snippet" *ngFor="let t of transcript?.snippets" (click)="jumpTo(t.start)">

            <span class="time">{{t.start | number:'1.0-0'}}s</span>
            <span>{{t.text}}</span>

        </div>

    </div>

</div>